<?xml version="1.0" encoding="utf-8"?>
<!--
Chocolatey package file.

Run: 
* choco install <packageName/>.config
* or
* cinst <packageName/>.config

List the packages in the order you want them installed.

TODO:
 - Integrate AdminDeployment.xml into the ide install.
-->
<packages>
  <!--
  Default Packages
  -->
  <package id="slack" />

  <!--
  Source Control Packages
  -->
  <package id="git" />
  <package id="tortoisegit" />
  
  <!--
  Text Editor Packages
  -->
  <!--Install the x86 (32bit) version.  The x64 version does not support the plug-in manager yet (NotePad++ version 7.3).-->
  <package id="notepadplusplus.install" forceX86="true" />
  <!--<package id="atom" />-->

  <!--
  Docker Packages
  -->
  <package id="docker-for-windows" />

  <!--
  OpenShift Packages
  -->
  <package id="openshift-cli" />
  
  <!--
  Database Packages
  -->
  <!--<package id="mssqlserver2012expressadv" />-->
  <!--<package id="mssqlserver2014express" />-->
  <!--<package id="sqlite" />-->
  
  <!--postgresql 9.6.x not available as a package yet. -->
  <!--<package id="postgresql" />-->  
  <package id="pgadmin4" />
    
  <package id="sql-server-management-studio" />
  <package id="sql-server-express" />
  
  <!--
  IDE Packages
  -->
  <package id="visualstudio2017community" />

  <!--
  Framework Packages
  -->
  <package id="dotnetcore-sdk" />

  <!--
  Misc. Tool Packages
  -->
  <package id="gimp" />
  <package id="putty" />
  <package id="curl" />
  <package id="7zip" />
  <package id="dropbox" />
  <package id="1password" />
</packages>