<?xml version="1.0" encoding="utf-8"?>
<!--
Chocolatey package file.

Run: 
* choco install <packageName/>.config
* or
* cinst <packageName/>.config

List the packages in the order you want them installed.
-->
<packages>
  <!--
  Source Control Packages
  -->
  <package id="git" />
  <package id="tortoisegit" />
  
  <!--
  Text Editor Packages
  -->
  <package id="vscode" />

  <!--
  Docker Packages
  -->
  <package id="docker-desktop" />

  <package id="putty" />
  <package id="curl" />
  <package id="7zip" />
</packages>